[data-id="8"]{
    color:green;
}
/*ЕСЛИ ПРОБЕЛ ТО ЗНАЧИТ СЕЛЕКТОР ДОЧЕРНИЙ*/

/*ЕЩЕ ЕСТЬ ВЛОЖЕННЫЕ, ПРЯМЫМИ МОГУТ БЫТЬ ТОЛЬКО ОДНОГО*/
#intro > .children { /*прямой потомок*/
    color:red;
}

/*если пробела нет - значит оба селектора применяются к одному и тому же элементу*/
#intro ul li.children {
    color:green;
}
a[target] { /*только для атрибута таргет*/
    color:blue;
}
a[href="https://google.com.ua"] {
    color:black;
}
*частичное совпадение
$-конец строки
nth - работает до 5
формулы - n = любое натуральное число (целое положительное) n - должно быть в начале
:nth-last-child(1) - это вести изчисление с последнего элемента 
псевдоклассы и псевдоэлементы
испортант применяется к правилу = правила внутри скобочек 
сначала импортант (внутри селектора или атрибута стайл)
