body {
    margin: 0;
    padding:0;
}
.logo, .main__block  {
    background:yellow;   
}
.footer {
    background:blue;
}
.nav {
    background:red;
}
.news {
    background:brown;
}
.navigation {
    background:black;
}
/*------------------START-------------------*/

.wrap {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    min-height: 100px;
}
.logo {
    flex:0 0 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    flex-wrap: wrap;
}

.news {
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    flex-basis:100px;
}
.main__block {
    flex-grow: 13;
}
.navigation {
    flex-grow: 3;
    height: 450px;
}
.footer {
    flex:1 0 80%;
}

/*

.main__block {
    width: 100px;
    flex-grow: 13;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    height: 300px;
}
.navigation {
    color:#fff;
    flex-grow: 3;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 450px;
}   
footer {
    display: flex;
}
.footer {
    display: flex;
    height: 150px;
    width: 76%;
    flex-grow:13;
    justify-content: center;
    align-items: center;
   
}
.empty {
    display: flex;
    flex-grow:3;
    background:chartreuse;
}*/