.first {
    display: flex;
}

.first .colored {
    /** 2204px = 4*0 + 4grow */
    /** 1grow: 2204 / 4 = 551px */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

.second {
    display: flex;
    flex-direction: row;
}

.second .colored {
    /** 2204px = 2*100% - 2shrink = 2*2204 - 2shrink */
    /** 1shrink: 2204px / 2 = 1102px */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%; /** 2204px - 1 * 1102px = 1102px */
}

.third {
    display: flex;
}

.third .colored {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

.fourth {
    display: flex;
}

.fourth .colored {
    flex: 0 0 25%;
}

.fourth .colored:last-child {
    /* flex-basis: 50%; */
    flex-grow: 1;
}

.fifth {
    display: flex;
}

.fifth .colored {
    /* flex: 0 0 20%; */
    flex: 1 0 0;
}

/** viewport width <= 1800px  */
@media (max-width: 1800px) {
    .first {
        flex-wrap: wrap;
    }

    .first .colored {
        flex-basis: 50%;
    }

    .third {
        flex-wrap: wrap;
    }

    .third .colored {
        flex-basis: 50%;
    }

    .third .colored:last-child {
        flex-grow: 1;
    }

    .fourth .colored {
        flex-basis: 30%;
    }

    .fourth .colored:first-child {
        flex-grow: 1;
    }

    .fifth {
        flex-wrap: wrap;
        justify-content: center;
    }

    .fifth .colored {
        flex: 0 0 33%;
    }

}

/** viewport width <= 1200px  */
@media (max-width: 1200px) {
    .third {
        flex-wrap: nowrap;
    }
    .third .colored {
        flex-grow: 1;
        flex-basis: 35%;
    }
    .fifth .colored {
        flex: 1 0 30%;
    }
}

@media (max-width: 960px) {
    .third {
        display: block;
    }

    .fourth {
        flex-wrap: wrap;
    }

    .fourth .colored {
        flex-basis: 50%;
    }
}

@media (max-width: 768px) {
    .fourth {
        display: block;
    }

    .fifth {
        display: block;
    }
}
