@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
/** font-family: 'Playfair Display', serif;**/

body {
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 900px;
    background: url('../img/bgc.jpg') no-repeat top top;
    width: 1920px;
   /* background-size: 80% 50%;*/
}
